<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Criar Anotação</title>
	</head>
	<body>
		<h1>CRIAR ANOTAÇÃO</h1>
		<form action='store_note' method='post' style='display: flex; flex-direction: column; gap: 5px; width: 100%; max-width: 700px'>
			<input type='text' name='note_title'>
			<textarea name='note_body'></textarea>
			<button>Criar anotação</button>
		</form>
	</body>
</html>
